.navbar__container {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 7px rgba(87, 87, 87, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0px;
    display: flow-root;
    width: 100%;
    height: 110px;
}

.narbar__img-container {
    float: left;
    width: 35.7%; 
    height: 50px; 
    margin-left: 278px;
}

.narbar__items-container {
    float: left;
    width: 50%; 
    height: 50px; 
    margin-left: 283px;
}

.home__container {
    width: 30%;
    padding: 95px;
    height: auto;
    float: right;
}

.home__container-img {
    width: 45rem;
    height: 40rem;
    float: left;
}

.home__maincontainer {
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}