.img-home {
    width: 45rem;
    height: 40rem;
    float: left;
    z-index: 0;
    overflow: hidden;
    // &:hover {
    //     width: 50rem;
    // height: 20%;
    // object-fit: contain;
    // // transform: rotateZ(0deg) translateY(-1rem) translateX(-1rem);
    // }
}

@media (min-width: 1520px) {
    .img-home {
        width: 50%;
        height: 70%;
        float: left;
    }
}

// @media (min-width: 480px) {
//     .img-home {
//         width: 10%;
//         height: 70%;
//         float: left;
//     }
// }

.pizzas__img-container { 
    border-radius: 4px;
    height: 11rem;
    width: 15rem;
}

.pizzas__header-img {
    width: 100%;
    height: 200px;
    // margin: 0px;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-align: end;
    // -webkit-align-items: flex-end;
    // -ms-flex-align: end;    
    // align-items: flex-end;
    // -webkit-transition: all 0.5s ease;  
    // transition: all 0.5s ease;
}

.pizzas__header-img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pizzas__header-text {
    position: relative;
    background-color: rgba(218, 0, 55, 0.0);
    border-radius: 10px;
    color: white;
    padding: 12px;
    padding-top: 25px;
    width: 30%;
    height: 30%;
    font-size: 45px;
    text-align: center;
    margin-top: -9.5rem;
    left: 50vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar__GoogleImg {
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 30px;
    width: 30px;
    float: left;
}

.cart__item-img {
    border-radius: 10px;
    height: 90%;
    width: 100%;
    float: left;
}
