.img-home {
    width: 45rem;
    height: 40rem;
    float: left;
    z-index: 0;
    overflow: hidden;
    // &:hover {
    //     width: 50rem;
    // height: 20%;
    // object-fit: contain;
    // // transform: rotateZ(0deg) translateY(-1rem) translateX(-1rem);
    // }
}

.pizzas__img-container { 
    border-radius: 4px;
    height: 12rem;
    width: 15rem;
}
