.ts-small {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.ts-medium {
    color: rgb(23, 23, 23);
    font-size: 18px;
    margin-top: 0px;
    padding: 5px;
    padding-top: 12px;
    width: 250px;
    height: 26px;
    float: left;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(231, 231, 231, 1);
    text-align: center;
    &:hover{
        background-color: rgb(218, 0, 55);
        color: white;
    }
}

.ts-big {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-right: 15px;
}

.ts__home-medium {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: right;
}


.pizzas__ts-big {
    color: rgb(136, 136, 136);
    width: 210px;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}

.pizzas__ts-small {
    height: 100px;
    width: 210px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(136, 136, 136);
    font-size: 15px;
    margin-left: 15px;
    overflow: hidden;
    white-space: pre-line;
}

.ts-GoogleAccount {
    color: rgb(23, 23, 23);
    font-size: 18px;
    margin-top: 0px;
    padding: 5px;
    padding-top: 12px;
    width: 285px;
    height: 26px;
    float: left;
    cursor: pointer;
    text-align: left;
}

.ts-CartWish {
    color: rgb(23, 23, 23);
    font-size: 18px;
    margin-top: 0px;
    padding: 5px;
    padding-top: 12px;
    width: 70px;
    height: 26px;
    float: left;
    cursor: pointer;
    text-align: left;
}