html, body {
    background-color: whitesmoke;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.main__container {
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

.navbar_logo {
    float: left;
    width: 130px;
    height: 60px;
    margin-top: 0px;
}