html, body {
    background-color: whitesmoke;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.main__container {
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

@media (max-width: 480px) {
    .main__container {
        width: 100%;
        background-color: rgb(197, 67, 67);
    }
}

.navbar_logo {
    float: left;
    width: 130px;
    height: 60px;
    margin-top: 0px;
}